<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fahrzeugverwaltung"
            connectionString="Data Source=DEV-FRL01\standard2019;Initial Catalog=Fahrzeugmangement_DaniloSchiefer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="FahrzeugverwaltungCore"
            connectionString="Server=DEV-FRL01\standard2019;Database=Fahrzeugmangement_DaniloSchiefer;Encrypt=true;TrustServerCertificate=true;Max Pool Size=1024;Pooling=true;Application Name=Fahrzeugverwaltung;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>